*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, 
body, 
#HomePage,
#ScrapePage,
#SupplierPage,
#RequestPage{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:  100vw;
    background-color: rgb(140, 245, 240);
}

.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.button{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 60%;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(55, 114, 241);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.buttonIcons{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 40px;
    width: 40px;
}

.inputField{
    border-radius: 10px;
    height: 40px;
    width: 70%;
    padding-left: 2%;
}

.dropdownMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formEntryDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.formEntryDiv input{
    width: 100%;
}

.dateInputFields{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dateInputFields div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#supplyRequestTable{
    width: 97%;
    border-radius: 7px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}

.tableHeaderRow{
    position: relative;
    background-color: rgb(55, 114, 241);
    height: 70px;
    text-transform: uppercase;
}

.tableContentRows{
    overflow-y: scroll;
}

.tableContentRows button{
    height: 30px;
    width: 100px;
}

td,
th{
    padding: 1rem;
}

td{
    height: 50px;
    vertical-align: middle;
}

tr:nth-of-type(2n){
    background-color: hsl(0 0% 0%/ 0.2);
}


#homeCard{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
}

#homeCardHeadingDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

#homeCardContentDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 70%;
    width: 100%;
}

#S_P_MainDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 90%;
    width: 60%;
}

#S_P_navbar{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 0;
}

#S_P_navbar_left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#S_P_navbar_middle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#S_P_navbar_right{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size:medium;
    height: 100%;
    width: 100%;
}

#RequestPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#buttonsRibbon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 100px;
}

#RequestHomeButton{
    position: relative;
    width: 20%;
}

#RequestAddEntryButton{
    position: relative;
    width: 20%;
}

#addEntryForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
    height: 80%;
    width: 40%;
}