*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

html, 
body, 
#homePage,
#updateDatabasePage,
#browseSuppliersPage,
#requestedItemsPage,
#companyConsiderationPage,
#supplierDetailsPage,
#item_browseSuppliersPage,
#item_supplierDetailsPage{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:  100vw;
    background-color: rgb(140, 245, 240);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
table{
    position: relative;
    display: block;
    background: white;
    border-radius: 7px;
    overflow-y: scroll;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top: 0;
    background: rgb(55, 114, 241);
    z-index: 2;
    text-transform: uppercase;
}

tr:nth-of-type(2n){
    background-color: hsl(0 0% 0%/ 0.2);
}

th{
    text-align: left;
    font-size: 1.2rem;
}

td{
    text-align: left;
    font-size: 1rem;
}

td,
th{
    height: 7vh;
    padding: 1rem;
    vertical-align: middle;
}

label{
    font-size: 1.2rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.button{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 55px;
    width: 60%;
    border: 1px black solid;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(55, 114, 241);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.2rem;
}

.buttonIcons{
    position: relative;
    height: 50px;
    width: 50px;
}

.inputField{
    border-radius: 10px;
    height: 40px;
    width: 70%;
    padding-left: 2%;
    font-size: 1rem;
}

.inputArea{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding-left: 2%;
}

.textArea{
    padding: 2%;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdownMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formEntryDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.formEntryDiv input{
    width: 100%;
}

.dateInputFields{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dateInputFields div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#homeCard{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
}

#homeCardHeadingDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    font-size: 2rem;
}

#homeCardContentDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 70%;
    width: 100%;
}

#updateDatabasePageHomeButton{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 8%;
    width: 10%;
    padding-left: 2%;
    padding-top: 1%;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#updateDatabasePageMainCard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 90%;
    width: 60%;
    font-size: 1.5rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#browseSuppliersPage{
    justify-content: flex-start;
    gap: 2%;
}

#browseSuppliersPageNavbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 0;
    z-index: 2;
}

#browseSuppliersPageNavbarLeft{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#browseSuppliersPageHomeButton{
    width: 50%;
}

#browseSuppliersPageDetailsButton{
    width: 50%;
}

#browseSuppliersPageNavbarMiddle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 100%;
    width: 100%;
}

#searchContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#searchBox{
    height: 28%;
    width: 100%;
    border-radius: 50px;
}

#results{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0;
    top: 65%;
    width: 100%;
    height: 120%;
    background: white;
    border: 3px black solid;
    border-radius: 10px;
    overflow-y: scroll;
    font-size: 1rem;
}

#browseSuppliersPageSearchButton{
    width: 20%;
}

#browseSuppliersPageClearButton{
    width: 20%;
}

#browseSuppliersPageNavbarRight{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
}

#browseSuppliersPageTable{
    height: 70%;
    width: 95%;
    table-layout: fixed;
}

#browseSuppliersPageTableHeaderRow{
    font-size: 1.2rem;
}

#browseSuppliersPageTableSupplierName{
    width: 45%;
}

#browseSuppliersPageTableStatus{
    width: 10%;
}

#browseSuppliersPageTableContact{
    width: 15%;
}

#browseSuppliersPageTableWebsite{
    width: 30%;
}

#browseSuppliersPageTableContentRows{
    font-size: 1rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#supplierDetailsPage{
    justify-content: flex-start;
    gap: 2%;
}

#supplierDetailsPageNavbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background: white;
    font-size: 1.5rem;
}

#supplierDetailsPageBackButton{
    position: absolute;
    top: 35%;
    left: 7%;
    width: 15%;
}

#supplierDetailsPageTable{
    height: 75%;
    width: 80%;
}

#supplierDetailsPageTable th{
    background-color: rgb(55, 114, 241);
    text-align: left;
    color: white;
    width: 300px;
}

#supplierDetailsPageTable td{
    width: 1500px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#requestedItemsPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#requestedItemsPageNavbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 100px;
}

#requestedItemsPageNavbar button,
#requestedItemsPageNavbar div{
    position: relative;
    width: 15%;
}

#requestedItemsPageSortingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#requestItemsPageSortingDropdownMenu{
    height: 55px;
    width: 100%;
    text-align: center;
}

#requestedItemsPageTable{
    width: 97%;
    height: 85%;
}

#itemRequestedColumn{
    width: 25%;
}

#dateOfMemoColumn{
    width: 15%;
}

#companiesUnderConsiderationColumn{
    width: 15%;
}

#companySelectedColumn{
    width: 45%;
}

#requestedItemsPageTableContentRows button{
    height: 80%;
    width: 60%;
}

/* #requestedItemsPageTableContentRows tr td:nth-child(2),
#requestedItemsPageTableContentRows tr td:nth-child(4){
    text-align: center;
}

#requestedItemsPageTableContentRows tr td:nth-child(3){
    place-items: center;
} */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#addEntryForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
    height: 80%;
    width: 40%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#companyConsiderationPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#companyConsiderationPageNavbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 100px;
}

#companyConsiderationPageNavbar button,
#companyConsiderationPageNavbar a,
#companyConsiderationPageNavbar div{
    position: relative;
    width: 15%;
    text-decoration: none;
}

#companyConsiderationPageTable{
    width: 97%;
    height: 85%;
}

#consideredCompanyNameColumn{
    width: 20%;
}

#consideredCompanyContactColumn{
    width: 10%;
}

#consideredCompanyWebsiteColumn{
    width: 20%;
}

#receivedResponse{
    width: 10%;
}

#amountColumn{
    width: 10%;
}

#remarksColumn{
    width: 30%;
}

#companyConsiderationPageTableContentRows button{
    height: 120%;
    width: 80%;
}

/* #companyConsiderationPageTableContentRows tr td:nth-child(2),
#companyConsiderationPageTableContentRows tr td:nth-child(4),
#companyConsiderationPageTableContentRows tr td:nth-child(5),
#companyConsiderationPageTableContentRows tr td:nth-child(6){
    text-align: center;
} */

#companyConsiderationPageTableContentRows tr td:nth-child(4),
#companyConsiderationPageTableContentRows tr td:nth-child(5),
#companyConsiderationPageTableContentRows tr td:nth-child(6){
    padding: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#item_browseSuppliersPage{
    justify-content: flex-start;
    gap: 2%;
}

#item_browseSuppliersPageNavbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 0;
    z-index: 2;
}

#item_browseSuppliersPageNavbarLeft{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#item_browseSuppliersPageBackButton{
    width: 50%;
}

#item_browseSuppliersPageDetailsButton{
    width: 50%;
}

#item_browseSuppliersPageNavbarMiddle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 100%;
    width: 100%;
}

#item_searchContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#item_searchBox{
    height: 28%;
    width: 100%;
    border-radius: 50px;
}

#item_results{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0;
    top: 65%;
    width: 100%;
    height: 120%;
    background: white;
    border: 3px black solid;
    border-radius: 10px;
    overflow-y: scroll;
    font-size: 1rem;
}

#item_browseSuppliersPageSearchButton{
    width: 20%;
}

#item_browseSuppliersPageClearButton{
    width: 20%;
}

#item_browseSuppliersPageNavbarRight{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
}

#item_browseSuppliersPageTable{
    height: 70%;
    width: 95%;
    table-layout: fixed
}

#item_browseSuppliersPageTableSupplierName{
    width: 45%;
}

#item_browseSuppliersPageTableStatus{
    width: 10%;
}

#item_browseSuppliersPageTableContact{
    width: 15%;
}

#item_browseSuppliersPageTableWebsite{
    width: 30%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#item_supplierDetailsPage{
    justify-content: flex-start;
    gap: 2%;
}

#item_supplierDetailsPageNavbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background: white;
    font-size: 1.5rem;
}

#item_supplierDetailsPageBackButton{
    position: absolute;
    top: 35%;
    left: 7%;
    width: 15%;
}

#item_supplierDetailsPageConsiderButton{
    position: absolute;
    top: 35%;
    right: 7%;
    width: 15%;
}

#item_supplierDetailsPageTable{
    height: 75%;
    width: 80%;
}

#item_supplierDetailsPageTable th{
    background-color: rgb(55, 114, 241);
    text-align: left;
    color: white;
    width: 300px;
}

#item_supplierDetailsPageTable td{
    width: 1500px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#removeItemForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
    font-size: 1.2rem;
}

#removeCompanyForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
    font-size: 1.2rem;
}